/* ************************************************************************************** */
/* APARTADO DE TODO LO APLICABLE A LA PÁGINA */
/* ************************************************************************************** */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: url(../img/fondonegro.png) rgb(0 0 0);
    background-repeat: no-repeat;
    height: 2000px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    background-position: center;
}

/* ************************************************************************************** */
/* PÁGINA INDEX*/
/* ************************************************************************************** */

.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion {
    background-color: aliceblue;
    margin: auto; 
    padding: 20px; 
    border: 5px solid #000; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50%;
    margin-bottom: 50%;
}

.pres__text h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(244 135 167);
    text-underline-offset: 15px;
    margin-bottom: 50px;
}

.pres__text p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 60px;
    margin-top: 60px;
}

.press_post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.press_post label {
    font-size: x-large;
    margin-bottom: 10px;
}  

.press_post label span {
    font-weight: bold;
}  

.press_post input[type="text"] {
    width: 100%; 
    padding: 5px;
    margin-top: 10px; 
}

.press_post input[type="submit"] {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: rgb(244 135 167);
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid rgb(244 135 167);
}

.press_post input[type="submit"]:hover {
    color: rgb(244 135 167);
    transform: scale(1.1);
    outline: 2px solid rgb(244 135 167);
    box-shadow: 4px 5px 17px -4px rgb(244 135 167);
}


.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}
 
.comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}
 
.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}